{%- if site.data.home.about %}
  <section id="about" class="about">
    <article>
      {%- for about in site.data.home.about %}
      <img src="{{ about.photo }}" alt="Monique Mosher" height="680" />
      <div>
        <h2>{{ about.title }}</h2>
        <h3>{{ about.subtitle }}</h3>
        <h4>{{ about.extratitle }}</h4>
        <h5>
          {%- for term in about.terms %}
            {{ term.term }} &middot;
          {%- endfor %}
        </h5>
        {{ about.content }}
      </div>
      {%- endfor %}
    </article>
  </section>
{%- endif %}
