<footer>
  <section>
    <article class="instagram">
      <h3>Hang out on Insta <a href="https://www.instagram.com/psychic.medium.moniquemosher/" rel="noopener" target="_blank">@psychic.medium.moniquemosher</a></h3>
      <div id="instafeed" class="instafeed"></div>
    </article>
    <article class="call-out">
      {%- if site.data.home.footer-call-out %}
        {%- for call-out in site.data.home.footer-call-out %}
          <span>&#9728;</span>
          <h3>{{ call-out.title }}</h3>
          <p>{{ call-out.content }}</p>
          {%- for button in call-out.button %}
            <a href="{{ button.link }}" class="button">{{ button.text }}</a>
          {%- endfor %}
        {%- endfor %}
      {%- endif %}
    </article>
    {%- if site.data.menus.social %}
      <article class="find-your-need">
        <h3>Find me online...</h3>
        <ul>
          {%- for item in site.data.menus.social %}
            <li>
              <a href="{{ item.url | relative_url }}" title="{{ item.title }}" class="{{ item.identifier }}">
                {{ item.title }}
              </a>
            </li>
          {%- endfor %}
        </ul>
      </article>
    {%- endif %}
  </section>
  <nav>
    <ul>
      <li>Copyright &copy; 2021 &middot; Monique Mosher</li>
      {%- if site.data.menus.footer %}
        {%- for item in site.data.menus.footer %}
          <li>
            <a href="{{ item.url | relative_url }}" title="{{ item.title }}" class="{{ item.identifier }}" rel="noopener" target="_blank">
              {{ item.title }}
            </a>
          </li>
        {%- endfor %}
      {%- endif %}
    </ul>
  </nav>
</footer>
