{%- if site.data.menus.main %}
  <nav class="main-nav">
    <div class="mobile-buttons">
      <a href="/" class="logo">monique mosher<span>Spiritual Life Coach</span></a>
      <a href="#" class="hamburger">
        <span>nav</span>
      </a>
    </div>
    <ul>
      {%- for item in site.data.menus.main %}
        <li>
          <a href="{{ item.url | relative_url }}" title="{{ item.title }}" class="{{ item.identifier }}">
            {{ item.title }}
          </a>
        </li>
      {%- endfor %}
    </ul>
  </nav>
{%- endif %}
