{%- if site.data.home.next-steps %}
  <div id="next-steps" class="next-steps">
    <section>
      {%- for next-steps in site.data.home.next-steps %}
        <article>
          <h2>{{ next-steps.title }}</h2>
          {%- if next-steps.steps %}
            {%- for step in next-steps.steps %}
              <div>
                <h3>{{ step.title }}</h3>
                {{ step.content }}
                {%- for button in step.button %}
                  <a href="{{ button.link }}" class="button">{{ button.text }}</a>
                {%- endfor %}
              </div>
            {%- endfor %}
          {%- endif %}
        </article>
        <img src="{{ next-steps.photo }}" alt="Hero" />
      {%- endfor %}
    </section>
  </div>
{%- endif %}
