.about {
  article {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  img {
    height: 684px;
    object-fit: cover;
    width: 509px;

    // @media only screen and (min-width: 1024px) {
    //   width: 434px;
    //   height: auto;
    //   // max-height: 583px;
    // }
  }

  div {
    background-color: #fff;
    box-sizing: border-box;
    left: -2.5rem;
    padding: 4rem 3rem;
    position: relative;

    // @media only screen and (min-width: 1024px) {
    //   left: auto;
    //   right: 0;
    //   position: absolute;
    //   width: 60%;
    //   padding: 3rem;
    // }
  }

  h2 {
    color: $complementary;
    font-family: $cursive;
    font-size: 3.6rem;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.2;
    margin: -7rem 0 2rem -1rem;

    // @media only screen and (min-width: 1024px) {
    //   margin: 0 0 0 -1rem;
    //   position: absolute;
    //   top: -3rem;
    // }
  }

  h3 {
    color: $complementary;
    font-family: $sans;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.2em;
    line-height: 1.4;
    margin: 0.5rem 0;
    text-align: left;
    text-transform: uppercase;
  }

  h4 {
    color: $secondary;
    font-family: $serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1;
    margin: 1rem 0;
    text-align: left;
  }

  h5 {
    font-family: $sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2em;
    line-height: 1.4;
    margin: 1rem 0;
    text-transform: uppercase;
  }
}
