@use 'variables';

.ad {
  background-color: #edeff0;
  padding: 0;

  img {
    display: block;
    max-height: 300px;
    max-width: 435px;
    object-fit: cover;
    width: 40%;

    @media only screen and (max-width: 1024px) {
      max-height: 301px;
      max-width: 515px;
      width: 50%;
    }

    @media only screen and (max-width: 812px) {
      width: 40%;
    }

    @media only screen and (max-width: 760px) {
      max-height: none;
      max-width: none;
      width: 100%;
    }
  }

  article {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 760px) {
      flex-direction: column-reverse;
    }
  }

  div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    width: 50%;

    @media only screen and (max-width: 812px) {
      padding: 1rem 2rem;
      width: 60%;
    }

    @media only screen and (max-width: 760px) {
      align-items: center;
      padding: 1rem;
      width: 100%;
    }
  }

  h3,
  h4 {
    margin: 0;
  }

  h3 {
    color: variables.$primary;
    font-family: variables.$cursive;
    font-size: 2.375rem;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: center;
    text-align: left;
    text-transform: none;

    @media only screen and (max-width: 812px) {
      font-size: 1.875rem;
    }
  }

  h4 {
    font-size: 2rem;
    letter-spacing: 0;
    line-height: 1;
    width: 75%;

    @media only screen and (max-width: 812px) {
      font-size: 1.5rem;
    }

    @media only screen and (max-width: 760px) {
      text-align: center;
    }
  }

  .button {
    background-color: #fff;
    color: variables.$secondary;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.2em;
    line-height: 3;
    margin-top: 1rem;
    padding: 0 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    @media only screen and (max-width: 812px) {
      line-height: 2;
      padding: 0 1rem;
    }
  }
}
