footer {
  background-color: $secondary;

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    // @media only screen and (min-width: 1024px) {
    //   padding: 2rem 0;
    // }
  }

  article {
    width: 49%;

    &:nth-child(3) {
      flex: 1;
      width: 100%;
    }
  }

  .instagram {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      margin-top: 0;
      // @media only screen and (min-width: 1024px) {
      //   font-size: 1rem;
      // }
    }

    ul {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li:nth-child(-n + 2) {
      margin-bottom: 1rem;
    }

    a {
      display: block;
    }

    img {
      display: block;
      height: 265px;
      object-fit: cover;
      width: 265px;

      // @media only screen and (min-width: 1024px) {
      //   width: 144px;
      //   height: 144px;
      // }
    }
  }

  .get-meditation {
    align-items: center;
    background-color: #fff;
    border: 5px solid $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 66px;
    padding: 4rem;
    text-align: center;

    // @media only screen and (min-width: 1024px) {
    //   padding: 2rem;
    //   margin-top: 44px;
    // }

    span {
      color: $primary;
      font-size: 3rem;

      // @media only screen and (min-width: 1024px) {
      //   font-size: 2.25rem;
      //   line-height: 1;
      // }
    }

    .button {
      border: 2px solid $primary;
      color: $primary;
      display: inline-block;
      margin-top: 2rem;
      padding: 0.5rem 3rem;
      text-decoration: none;

      // @media only screen and (min-width: 1024px) {
      //   margin-top: 1rem;
      // }
    }
  }

  .find-your-need {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem 0;

    // @media only screen and (min-width: 1024px) {
    //   padding: 1rem 2rem 0;
    // }

    h3 {
      font-family: $cursive;
      font-size: 2.375rem;
      font-style: italic;
      margin: 0;
      text-align: left;
      text-transform: none;
      width: 40%;

      // @media only screen and (min-width: 1024px) {
      //   font-size: 2rem;
      // }
    }

    ul {
      align-self: flex-end;
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      width: 50%;
    }

    li {
      list-style: none;
    }

    a {
      color: #fff;
      display: block;
      line-height: 53px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  nav {
    background-color: #fff;
    border: 0;
    padding: 1rem 0;

    ul {
      padding: 0;
      width: auto;

      // @media only screen and (min-width: 1024px) {
      //   justify-content: space-around;
      // }
    }

    li {
      border-right: 1px solid;
      padding: 0 1rem;

      // @media only screen and (min-width: 1024px) {
      //   font-size: 0.688rem;
      //   display: inline-block;
      // }
    }

    li:last-child {
      border: 0;
    }

    a {
      display: inline-block;
      line-height: 1;
      text-decoration: underline;
    }
  }
}
