.main-nav {
  align-items: center;
  border-top: 4px solid $primary;
  display: flex;
  padding: 2rem 0;

  @media only screen and (max-width: 1366px) {
    padding: 1rem 0 3rem;
  }

  @media only screen and (max-width: 812px) {
    padding: 1rem 0 2rem;
  }

  a {
    color: $secondary;
    display: block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    @media only screen and (max-width: 812px) {
      padding: 0 10px;
    }
  }

  ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    width: 90vw;

    @media only screen and (max-width: 812px) {
      width: 100%;
    }
  }

  li {
    font-family: $sans;
    font-size: 0.8rem;
    font-weight: 400;
    list-style: none;
    text-transform: uppercase;
  }

  .logo {
    display: block;
    font-family: $serif;
    font-size: 3.313rem;
    text-align: center;
    text-transform: none;

    @media only screen and (max-width: 812px) {
      font-size: 2rem;
      padding: 0;
    }

    span {
      display: block;
      font-family: $sans;
      font-size: 0.8rem;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}
