nav {
  align-items: center;
  border-top: 4px solid $primary;
  display: flex;
  padding: 4vh 0;

  a {
    color: $secondary;
    font-weight: 400;
    text-decoration: none;
  }

  ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90vw;
  }

  li {
    font-family: $sans;
    font-size: 0.8rem;
    font-weight: 400;
    list-style: none;
    text-transform: uppercase;
  }

  .logo {
    display: block;
    font-family: $serif;
    font-size: 3.313rem;
    text-align: center;
    text-transform: none;

    // @media only screen and (min-width: 1024px) {
    //   font-size: 2rem;
    // }

    span {
      display: block;
      font-family: $sans;
      font-size: 0.8rem;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}
