@use 'variables';

.welcome {
  article {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 60%;

    @media only screen and (max-width: 1366px) {
      width: 80%;
    }

    @media only screen and (max-width: 760px) {
      width: 100%;
    }
  }

  h2,
  h3,
  p {
    margin-top: 0;
  }

  h2 {
    line-height: 1;

    @media only screen and (max-width: 1024px) {
      margin-bottom: 1rem;
    }
  }

  h3 {
    margin-bottom: 0;
  }

  hr {
    background-color: variables.$primary;
    border: 0;
    display: block;
    height: 3px;
    margin: 2rem auto;
    width: 33%;

    @media only screen and (max-width: 1024px) {
      width: 40%;
    }

    @media only screen and (max-width: 760px) {
      margin: 1rem auto;
    }
  }
}
