.welcome {
  article {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 60%;

    // @media only screen and (min-width: 1024px) {
    //   padding: 0 4.4rem;
    // }
  }

  h2,
  h3,
  p {
    margin-top: 0;
  }

  h3 {
    margin-bottom: 0;

    &::after {
      background-color: $primary;
      content: '';
      display: block;
      height: 3px;
      margin: 2rem auto;
      width: 33%;
    }
  }
}
