.work-with {
  padding-top: 0;

  h3 {
    line-height: 1;
    margin: 1rem 0 2rem;

    @media only screen and (max-width: 812px) {
      margin: 0 0 1rem;
    }
  }

  .services {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 0;
    width: 100%;

    @media only screen and (max-width: 760px) {
      flex-direction: column;
      margin: 0;
    }
  }

  .service {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30%;

    @media only screen and (max-width: 1024px) {
      width: 32%;
    }

    @media only screen and (max-width: 760px) {
      margin-bottom: 1rem;
      width: 100%;
    }

    img {
      max-height: 300px;
      object-fit: cover;
      width: 100%;
    }

    div {
      background-color: #fff;
      margin-top: -2rem;
      padding: 2rem;
      text-align: center;
      width: 80%;

      @media only screen and (max-width: 1024px) {
        padding: 2rem 1rem;
        width: 90%;
      }

      @media only screen and (max-width: 812px) {
        padding: 1rem;
      }
    }

    h2 {
      font-family: $serif;
      font-size: 2.125rem;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 1;
      margin: 0;

      @media only screen and (max-width: 812px) {
        font-size: 1.5rem;
      }
    }

    p {
      @media only screen and (max-width: 812px) {
        margin: 0.5rem 0;
      }
    }

    .button {
      background-color: $secondary;
      color: #fff;
      display: inline-block;
      font-weight: 700;
      letter-spacing: 0.2em;
      line-height: 3;
      padding: 0 2rem;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      @media only screen and (max-width: 1024px) {
        padding: 0 1rem;
      }

      @media only screen and (max-width: 812px) {
        letter-spacing: 0;
        line-height: 2;
      }

      &:hover {
        background-color: lighten($secondary, 10%);
      }
    }
  }

  .full-width {
    margin: 0 auto;
    width: 80%;

    &:nth-last-child(n + 2) {
      margin-bottom: 2rem;
    }

    @media only screen and (max-width: 1024px) {
      width: 90%;
    }

    @media only screen and (max-width: 760px) {
      width: 100%;
    }

    img {
      height: auto;
      max-height: 400px;
      object-fit: cover;
      width: 100%;
    }

    div {
      padding-bottom: 0;
    }
  }
}
