---
layout: default
---

<main>
  <nav>
    <ul>
      <li><a href="#welcome">Welcome</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#work-with">Work with Me</a></li>
      <li><a href="#" class="logo">monique mosher<span>Spiritual Life Coach</span></a></li>
      <li><a href="#testimonials">Client Testimonials</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <!-- <div>
      <a href="#">Facebook</a>
      <a href="#">Instagram</a>
    </div> -->
  </nav>

  <header>
    <img src="assets/img/hero.jpg" alt="Hero" />
    <article>
      <h1>Helping people change their inner-child using Spirit</h1>
      <p>Doing big things for all people, because I can. You can too.</p>
      <a href="#" class="button">Get Started Now</a>
    </article>
  </header>

  <section id="welcome">
    <article>
      <h2>Some kind of really neat text.</h2>
      <h3>And, some more text to add emphasize. Because you are sick of crap.</h3>
      <p>I'm baby heirloom hot chicken four loko wolf hammock irony austin, affogato selvage aesthetic enamel pin. Direct trade
      cred seitan, austin tacos brunch brooklyn pok pok pitchfork thundercats mustache man bun. Portland glossier retro
      everyday carry mumblecore, kogi typewriter echo park fingerstache keffiyeh plaid venmo pop-up.</p>
    </article>
  </section>

  <section class="ad">
    <article>
      <div>
        <h3>free download</h3>
        <h4>The 10-Minute Daily Meditation for Sessy Time</h4>
        <a href="#" class="button">Get the Meditation</a>
      </div>
      <img src="assets/img/ad.jpg" alt="meditation" />
    </article>
  </section>

  <section id="about">
    <article>
      <img src="assets/img/coach.jpg" alt="Coach" />
      <div>
        <h2>Meet Monique!</h2>
        <h3>You can stop looking...</h3>
        <h4>You found your medium!</h4>
        <h5>Psychic Medium · Inner Child Coach · Ascension Guide</h5>
        <p>Freegan kombucha poke, cornhole trust fund keytar roof party. Sustainable jianbing offal hoodie cold-pressed cronut DIY
        pug woke af copper mug next level chambray. Photo booth skateboard art party, vice selfies disrupt health goth offal
        90's tofu. Master cleanse activated charcoal waistcoat offal disrupt chia kombucha shabby chic normcore lomo succulents
        organic twee. Humblebrag enamel pin drinking vinegar brunch cliche.</p>
      </div>
    </article>
  </section>

  <section id="work-with">
    <article>
      <h3>Work with Monique</h3>
      <section class="services">
        <article class="service">
          <img src="assets/img/service.jpg" alt="Service" />
          <div>
            <h2>Service Name</h2>
            <p>Lorem ipsum dolor amet banh mi 8-bit street art put a bird on it. Disrupt activated charcoal VHS ugh chillwave lomo.</p>
            <a href="#" class="button">Get Service</a>
          </div>
        </article>
        <article class="service">
          <img src="assets/img/service2.jpg" alt="Service" />
          <div>
            <h2>Service Name</h2>
            <p>Lorem ipsum dolor amet banh mi 8-bit street art put a bird on it. Disrupt activated charcoal VHS ugh chillwave
              lomo.</p>
            <a href="#" class="button">Get Service</a>
          </div>
        </article>
      </section>
      <article class="full-width service">
        <img src="assets/img/service3.jpg" alt="Service" />
        <div>
          <h2>Service Name</h2>
          <p>Lorem ipsum dolor amet banh mi 8-bit street art put a bird on it. Disrupt activated charcoal VHS ugh chillwave
            lomo.</p>
          <a href="#" class="button">Get Service</a>
        </div>
      </article>
    </article>
  </section>

  <div id="testimonials">
    <div class="bg"></div>
    <article>
      <h3><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span> Reviews</h3>
      <h2>"She helped me do this really rad thing and it was great... for real dawg!"</h2>
      <q>"Lorem ipsum dolor amet banh mi 8-bit street art put a bird on it. Disrupt activated charcoal VHS ugh chillwave lomo. She helped me do this really rad thing and it was great... for real dawg!"<cite>&ndash; Bennie M</cite></q>
      <a href="#" class="button">See More Feedback</a>
    </article>
  </div>

  <div id="blog">
    <section>
      <h3>From the <span>blog</span></h3>

      <div class="posts">
        <article class="post">
          <img src="assets/img/armpit.jpg" alt="" />
          <div>
            <h2>Look at those delicious armpits</h2>
            <p>An excerpt from this blog post goes here. You can set this up to automatically pull the latest posts or select your
            favorite blogs to manually add.</p>
            <a href="#" class="go-to"><span>&#8594;</span></a>
          </div>
        </article>
        <article class="post">
          <img src="assets/img/armpit.jpg" alt="" />
          <div>
            <h2>Look at those delicious armpits</h2>
            <p>An excerpt from this blog post goes here. You can set this up to automatically pull the latest posts or select your
              favorite blogs to manually add.</p>
            <a href="#" class="go-to"><span>&#8594;</span></a>
          </div>
        </article>
      </div>
    </section>
  </div>

  <div id="next-steps">
    <section>
      <article>
        <h2>Take the next step towards a brighter you...</h2>
        <div>
          <h3>Learn How We Can Work Together</h3>
          <p>Working together is SIMPLE, and there's a package for exactly what you need right now!</p>
          <a href="#" class="button">See Packages</a>
        </div>
        <div>
          <h3>Book A Reading Today</h3>
          <p>Looking to go at your own pace? Book a reading today, no strings attached!</p>
          <a href="#" class="button">Book A Reading</a>
        </div>
      </article>
      <img src="assets/img/hero.jpg" alt="Hero" />
    </section>
  </div>

  <footer>
    <section>
      <article class="instagram">
        <h3>Hang out on Insta @psychic.medium.moniquemosher</h3>
        <ul>
          <li><a href="#"><img src="assets/img/ad.jpg" alt="" /></a></li>
          <li><a href="#"><img src="assets/img/ad.jpg" alt="" /></a></li>
          <li><a href="#"><img src="assets/img/ad.jpg" alt="" /></a></li>
          <li><a href="#"><img src="assets/img/ad.jpg" alt="" /></a></li>
        </ul>
      </article>
      <article class="get-meditation">
        <span>&#9728;</span>
        <h3>Some kind of cool title here that's two lines!</h3>
        <p>Breakthrough everyday carry activated charcoal photo booth ethical echo park selfies. Selvage jianbing pour-over, palo
        santo tofu gluten-free butcher tumeric!</p>
        <a href="#" class="button">Do A Thing</a>
      </article>
      <article class="find-your-need">
        <h3>Find your need...</h3>
        <ul>
          <li><a href="#">Work Together</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Vlog</a></li>
        </ul>
      </article>
    </section>
    <nav>
      <ul>
        <li>Copyright &copy; 2021 &middot; Monique Mosher</li>
        <li>Website by <a href="https://benniemosher.com" rel="noopener" target="_blank">Bennie Mosher</a></li>
        <li><a href="#">Terms &amp; Conditions</a></li>
        <li>Photography By <a href="https://www.aubreynicolephotography.com/" rel="noopener" target="_blank">Aubrey Nicole Photography</a></li>
      </ul>
    </nav>
  </footer>
</main>
